#name {
    background-color: rgb(125, 169, 169);
    color: white;
}

#respostas {
    background-color: #e6f7ff;
    border: 1px solid #b3e0ff;
}

#sobre {
    background-color: #e6f7ff; 
    border: 1px solid #b3e0ff;
}